*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Righteous', cursive;
}
.barraNavegacion{
    background-color: orange;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.contenedorIndex{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.footer{
    height: 200px;
    width: 100%;
    background-color: orange;
}
/* galeria */

#galeria img{
    width: 100%;
    height: 450px;
}

#tituloGaleria{
    color: orange;

}
/* quienes somos */

#quienessomos img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin: 5px 20px;
    align-items: center;
}

.row p{
    text-align: left;
    padding: 20px 0px 0px 10px;
}