*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Righteous', cursive;
}

.barraNavegacion{
    background-color: orange;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}